/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}

.texto-naranja {
    font-weight: 300;
    color: orange;
}

.texto-blanco {
    font-weight: 700;
    color: #fff;
}

.texto-negro {
	color: #000;
}